<div data-api-content>
    {%- if cart.item_count > 0 -%}
        {% if template.name == "cart" %}
            {%- render 'cart-line-items_cart' -%}
        {% else %}
            {%- render 'cart-line-items' -%}
        {% endif %}

    {%- else -%}
        {% comment %}
          The cart is empty
        {% endcomment %}
        <div class="text-center">
            <p>{{ 'cart.general.empty' | t }}</p>
            <p><a href="{{ routes.root_url }}" class="btn">{{ 'cart.general.continue_shopping' | t }}</a></p>
        </div>
    {%- endif -%}
</div>
<script>

</script>
