/* .rc-widget {
  border: none !important;
}
.recharge-content {
  border-radius: 10px;
} */
.list_variants-quantity {}

.varian__quantity {}

.varian__quantity-grid {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 18px;
  row-gap: 33px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.varian__quantity-item {
  position: relative;
}

.varian__quantity-item input {
  display: none;
}


.varian__quantity-item label {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 7px 12px !important;
  margin: 0 !important;
  box-sizing: border-box;
  max-height: 100px;
  box-shadow: 0 0 10px #0000001a;
  opacity: .7;
  position: relative;
  white-space: nowrap;
  min-width: 82px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.varian__quantity-item input:checked~label,
.varian__quantity-item label:hover {
  opacity: 1;
    border: 2px solid #222;
    background: rgba(40,82,52,.1);
    box-shadow: 0 0 10px #0000001a;
}

.varian__quantity-ex-badge {
  white-space: nowrap;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
  margin-top: 0;
  border-radius: 4px;
  background: var(--background-color);
  color: var(--color-text);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  padding: 6px 11.5px 3px;
  display: inline-block;
}

.varian__quantity-free {
  display: flex;
  align-items: center;
}

.varian__quantity-free .varian__quantity-badge {
  left: 10px;
  transform: translate(0);
}

.varian__quantity-free-badge {
  position: absolute;
  top: -15px;
  padding: 6px 6px 4px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  min-width: 57px;
  max-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d02e2e;
  left: unset;
  right: 10px;
  transform: translate(0);
}

.varian__quantity-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.varian__quantity-badge {
  color: var(--color-text);
  background-color: var(--background-color);


  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -15px;
  padding: 6px 6px 4px;
  border-radius: 10px;
  background-color: #ff914f;
  display: block;
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  min-width: 57px;
  max-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.varian__quantity-img {
  width: 51px;
  height: 50px;
  max-width: 51px;
  position: relative;
}

.varian__quantity-free .varian__quantity-elem .varian__quantity-img {
  width: 75px;
  height: 50px;
  max-width: 75px;
  object-fit: cover;
}

.varian__quantity-free .varian__quantity-elem .varian__quantity-img img {
  object-fit: cover;
}

.varian__quantity-free .varian__quantity-elem.varian__quantity-ex-elem .varian__quantity-img {
  max-width: 45px !important;
  width: 45px !important;
  height: 45px !important;
}
.varian__quantity-free .varian__quantity-elem.varian__quantity-ex-elem .varian__quantity-img  img{
  object-fit: contain;
}

.varian__quantity-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.varian__quantity-name {
  font-size: 14px;
}

.varian__quantity-ex-elem {}

.list_variants-wrapper {
  margin: 40px 0;
}

.list_variants-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 23px;
  font-family: var(--FONT-STACK-BODY);
  flex-wrap: wrap;
}

.list_variants-title span {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.list_variants-title .small-badge  {
  margin-left: 10px;
  background-color: #d02e2e;
  border-radius: 4px;
  color: #f9f9f9 !important;
  padding: 5.5px 8px;
  font-size: 16px !important;
  opacity: 0.8;
  display: block;
}

.list_variants-title .small-badge._hide-text {
  visibility: hidden;
}
.list_variants-title .small-badge span{
  color: #f9f9f9 !important;

}


.taste-delivery-badge {}

.list_variants-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 15px;
  row-gap: 25px;
  max-width: 425px;
  width: 100%;
}

.varian__quantity-symbol {
  margin: 0 5px;
}
.variant_item {
  cursor: pointer;
  max-width: calc(25% - 11.25px);
  width: calc(25% - 11.25px);
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #e1e1e1;
  box-sizing: border-box;
  transition: .3s;
  position: relative;


  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 6px 15px;
  height: 100%;
}

.variant_item:hover,
.variant_item.active-card {
  border: 2px solid #222;
  background: rgba(40, 82, 52, .1);
  box-shadow: 0 0 10px #0000004d;
}

.variant_item._not-active-item {
  pointer-events: none !important;
  background: #fff !important;
  opacity: .5;
}

.variant_item-img-wrap {}

.variant_item-img {
  max-width: 50px;
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-bottom: 10px;

}

.variant_item-title {
  color: #222;
  text-align: center;
  text-transform: capitalize;
  max-width: 55px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  font-family: var(--FONT-STACK-BODY);
}

.variant_item-info {}

.variant_item-badge {
  position: absolute;
  left: 50%;
  top: -17px;
  transform: translate(-50%);
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  background: #A3DB7C;
  padding: 6px;
  border-radius: 10px;
  min-width: fit-content;
  display: inline-flex;
}

.variant_item-button {
  /* don`r remove */
  display: none;
}

.variant_item-button span {
  pointer-events: none;
}

.variant_item-button-plus {}

.variant_item-quantity {
  display: none;
  align-items: center;
  margin-top: 12px;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.variant_item-quantity button {
  color: #222;
  text-align: center;
  text-transform: capitalize;
  max-width: 55px;
  width: 15px;
  height: 15px;
  line-height: 15px !important;
  border: none;
  outline: none;
}

.variant_item-quantity input {
  pointer-events: none;
  line-height: 15px;
  width: 100%;
  text-align: center;
  max-width: 24px !important;
  display: inline-block !important;
  padding: 0;
  margin: 0;
  border: none !important;
  outline: 0 !important;
  color: #3a3a3a;
  font-style: normal;
  font-weight: 700;
  max-height: 15px;
  background-color: transparent;
}

@media(max-width: 768px) {
  .list_variants-wrapper {
    margin: 20px 0;
  }
  
  .list_variants-title .small-badge {
    font-size: 14px !important;
    padding: 4px 8px;
  }
}

@media(max-width: 568px) {
  .varian__quantity-grid {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
}